*.7z filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
images/* filter=lfs diff=lfs merge=lfs -text
*.7z linguist-vendored
*.0 linguist-documentation
*.1 linguist-documentation
*.2 linguist-documentation
*.3 linguist-documentation
*.4 linguist-documentation
*.5 linguist-documentation
*.6 linguist-documentation
*.7 linguist-documentation
*.8 linguist-documentation
*.9 linguist-documentation
*.woff filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
