---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@font-face {
  font-family: gnu-freeserif;
  src: url('/css/FreeSerif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.PUJ {
  font-family: gnu-freeserif, "Lucida Sans Unicode", "Tahoma", sans-serif;
  font-size: 18px;
}

a.note:link {
  color: #ffffff;
  background-color: #101010;
  border-radius: 80%;
  border-color: #101010;
  border-style: solid;
  font-size: 12px;
  vertical-align: bottom;
  text-align: center;
  margin-left: 3px;
  display: in-block;
  text-decoration: none;
}

a.note:visited {
  color: #ffffff;
  background-color: #101010;
  border-radius: 80%;
  border-color: #101010;
  border-style: solid;
  font-size: 12px;
  vertical-align: bottom;
  text-align: center;
  margin-left: 3px;
  display: in-block;
  text-decoration: none;
}

a.note:hover {
  color: #ffffff;
  background-color: #101010;
  border-radius: 80%;
  border-color: #101010;
  border-style: solid;
  font-size: 14px;
  vertical-align: bottom;
  text-align: center;
  margin-left: 3px;
  display: in-block;
  text-decoration: none;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
